{% extends 'hod_template/base_template.html' %}{% block main_content %}
<div class="content">
  <div class="container-fluid"></div>
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Add Student</h3>
        </div>
        <div class="row">
          {% if messages %}
          <div class="col-12">
            {% for message in messages %} {% if message.tags == 'error' %}
            <div class="alerts alert-danger" style="margi-top: 10px">
              {{message}}
            </div>
            {% endif %} {% endfor %}
          </div>
          {% endif %}
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form" action="/add_student_save" method="post">
          {% csrf_token %}
          <div class="card-body">
            <div class="form-group">
              <label>Email address</label>
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Enter email"
              />
            </div>
            <div class="form-group">
              <label>password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                placeholder="password"
              />
            </div>

            <div class="form-group">
              <label>First Name</label>
              <input
                type="text"
                class="form-control"
                name="first_name"
                placeholder="First Name"
              />
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input
                type="text"
                class="form-control"
                name="last_name"
                placeholder="Last Name"
              />
            </div>
            <div class="form-group">
              <label>Username</label>
              <input
                type="text"
                class="form-control"
                name="username"
                placeholder="User Name"
              />
            </div>

            <div class="form-group">
              <label>Adress</label>
              <input
                type="text"
                class="form-control"
                name="address"
                placeholder="Adress"
              />
            </div>
            <div class="form-group">
              <label>Course</label>
              <select class="form-control" name="course">
                {% for course in courses %}
                <option value="{{course.id}}">{{ course.course_name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label>Sex</label>
              <select class="form-control" name="sex">
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>

            <div class="form-group">
              <label>Session Start</label>
              <input
                type="date"
                class="form-control"
                name="session_start"
                placeholder="Session Start Year"
              />
            </div>
            <div class="form-group">
              <label>Session End</label>
              <input
                type="date"
                class="form-control"
                name="session_end"
                placeholder="Session End Year"
              />
            </div>
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-block">
              Add Student
            </button>
          </div>
        </form>
      </div>
      <!-- /.card -->
    </div>
    <!--/.col (left) -->
  </div>
</div>
{% endblock main_content %}
