{% extends 'hod_template/base_template.html' %}{% block main_content %}
<div class="content">
  <div class="container-fluid"></div>
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">
            Edit Staff | Username - {{staff.admin.username}}| #ID
            {{staff.admin.id}}
          </h3>
        </div>
       
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form" action="/edit_staff_save" method="post">
          {% csrf_token %}
          {% if messages %}
          <div class="form-group">
            <div class="col-12">
              {% for message in messages %} {% if message.tags == "error" %}
              <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
                style="margin-top: 10px"
              >
                {{ message }}
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% elif message.tags == "success" %}
              <div
                class="alert alert-success alert-dismissible fade show"
                role="alert"
                style="margin-top: 10px"
              >
                {{ message }}
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endif %} {% endfor %}
            </div>
          </div>
          {% endif %}
          <div class="card-body">
            <div class="form-group">
              <label>Email address</label>
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Enter email"
                value="{{staff.admin.email}}"
              />
            </div>

            <div class="form-group">
              <label>First Name</label>
              <input
                type="text"
                class="form-control"
                name="first_name"
                placeholder="First Name"
                value="{{staff.admin.first_name}}"
              />
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input
                type="text"
                class="form-control"
                name="last_name"
                placeholder="Last Name"
                value="{{staff.admin.last_name}}"
              />
              <input type="hidden" name="staff_id" value="{{staff.admin.id}}" />
            </div>
            <div class="form-group">
              <label>Username</label>
              <input
                type="text"
                class="form-control"
                name="username"
                placeholder="User Name"
                value="{{staff.admin.username}}"
              />
            </div>

            <div class="form-group">
              <label>Adress</label>
              <input
                type="text"
                class="form-control"
                name="address"
                placeholder="Adress"
                value="{{staff.address}}"
              />
            </div>
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-block">
              Save Staff
            </button>
          </div>
        </form>
      </div>
      <!-- /.card -->
    </div>
    <!--/.col (left) -->
  </div>
</div>
{% endblock main_content %}
