{% extends 'hod_template/base_template.html' %}{% block main_content %}
<div class="content">
  <div class="container-fluid"></div>
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">
            Edit Student | Username - {{student.admin.username}}| #ID
            {{student.admin.id}}
          </h3>
        </div>
       
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form" action="/edit_student_save" method="post" enctype="enctype/form-data">
          {% csrf_token %}
          {% if messages %}
          <div class="form-group">
            <div class="col-12">
              {% for message in messages %} {% if message.tags == "error" %}
              <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
                style="margin-top: 10px"
              >
                {{ message }}
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% elif message.tags == "success" %}
              <div
                class="alert alert-success alert-dismissible fade show"
                role="alert"
                style="margin-top: 10px"
              >
                {{ message }}
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endif %} {% endfor %}
            </div>
          </div>
          {% endif %}
          <div class="card-body">
            <div class="form-group">
              <label>Email address</label>
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Enter email"
                value="{{student.admin.email}}"
              />
            </div>

            <div class="form-group">
              <label>First Name</label>
              <input
                type="text"
                class="form-control"
                name="first_name"
                placeholder="First Name"
                value="{{student.admin.first_name}}"
              />
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input
                type="text"
                class="form-control"
                name="last_name"
                placeholder="Last Name"
                value="{{student.admin.last_name}}"
              />
            </div>
            <div class="form-group">
              <label>Username</label>
              <input
                type="text"
                class="form-control"
                name="username"
                placeholder="User Name"
                value="{{student.admin.username}}"
              />
              <input type="hidden" name="student_id" value="{{student.admin.id}}" />
            </div>

            <div class="form-group">
              <label>Adress</label>
              <input
                type="text"
                class="form-control"
                name="address"
                placeholder="Adress"
                value="{{student.address}}"
              />
            </div>
            <div class="form-group">
              <label>Course</label>
              <select class="form-control" name="course">
                {% for course in courses %}
                <option value="{{course.id}}" {% if course.id == student.course_id.id %}   selected   {% endif %}>{{ course.course_name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label>Sex</label>
              <select class="form-control" name="sex">
                <option {% if studen.gender == "Male" %}   selected   {% endif %}>Male</option>
                <option {% if studen.gender == "Female" %}   selected   {% endif %}>Female</option>
              </select>
            </div>

            <div class="form-group">
              <label>Session Start</label>
              <input
                type="date"
                class="form-control"
                name="session_start"
                placeholder="Session Start Year"
                value="{{student.session_start_year|date:"Y-m-d"}}"
              />
            </div>
            <div class="form-group">
              <label>Session End</label>
              <input
                type="date"
                class="form-control"
                name="session_end"
                placeholder="Session End Year"
                value="{{student.session_end_year|date:"Y-m-d"}}"
              />
            </div>
            <div class="form-group">
                        <label>Profile Image</label>
                        <input
                          type="file"
                          class="form-control"
                          name="profile_pic"
                          placeholder="Session End Year"
                          value="{{profile_pic}}"
                        />
                        </div>
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-block">
              Save Student
            </button>
          </div>
        </form>
      </div>
      <!-- /.card -->
    </div>
    <!--/.col (left) -->
  </div>
</div>
{% endblock main_content %}
