{% extends 'hod_template/base_template.html' %}{% block main_content %}

<!-- {% block  header_title %} Add Course {% endblock %} -->
<div class="content">
  <div class="container-fluid"></div>
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->

      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Edit Course | Course ID: {{course.id}}</h3>
        </div>
        <div class="row">
          {% if messages %}
          <div class="col-12">
            {% for message in messages %} {% if message.tags == 'error' %}
            <div class="alerts alert-danger" style="margi-top: 10px">
              {{message}}
            </div>
            {% endif %} {% endfor %}
          </div>
          {% endif %}
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form" action="/edit_course_save" method="post">
          {% csrf_token %}
          <div class="card-body">
            <div class="form-group">
              <label>Course Name</label>
              <input
                type="text"
                class="form-control"
                name="course"
                placeholder="Enater Course"
                value="{{courses.course_name}}"
              />
              <input type="hiden" name="course" value="{{courses.course_id}}" />
            </div>
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-block">
              Save Course
            </button>
          </div>
        </form>
      </div>
      <!-- /.card -->
    </div>
    <!--/.col (left) -->
  </div>
</div>
{% endblock main_content %}
