{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img
      src="{% static 'dist/img/AdminLTELogo.png' %}"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">{{user.username}}</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="{% static 'dist/img/user2-160x160.jpg'%}"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a href="#" class="d-block">Alexander Pierce</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview"></ul>
        </li>
        <li class="nav-item">
        {% url 'add_staff' as add_staff %}
          <a href="{{ add_staff }}" class="nav-link {% if request.path == add_staff %} active {% endif %}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Add Staff
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>

        <li class="nav-item">
        {% url 'manage_staff' as manage_staff %}
        {% url 'edit_staff' staff_id=id as edit_staff %}
          <a href="{% url "manage_staff" %}" class="nav-link {% if request.path == manage_staff %} active {% endif %} {% if request.path == edit_staff %} active {% endif %}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Manage Staff
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>

        <li class="nav-item">
        {% url 'add_student' as add_student %}
          <a href="{% url "add_student" %}" class="nav-link {% if request.path == add_student %} active {% endif %} ">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Add Student
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>
         
        <li class="nav-item">
        {% url 'manage_student' as manage_student %}
        {% url 'edit_student' student_id=id as edit_student %}
          <a href="{% url "manage_student" %}" class="nav-link {% if request.path == manage_student %} active {% endif %}  {% if request.path == edit_student %} active {% endif %}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Manage Student
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>

        <li class="nav-item">
        {% url 'add_course' as add_course %}
          <a href="{% url "add_course" %}" class="nav-link {% if request.path == add_course %} active {% endif %}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Add Course
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>

        <li class="nav-item">
        {% url 'manage_course' as manage_course %}
        {% url 'edit_course' course_id=id as edit_course %}
          <a href="{% url "manage_course" %}" class="nav-link {% if request.path == manage_course %} active {% endif %} {% if request.path == edit_course %} active {% endif %}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Manage Course
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>
        <li class="nav-item">
        {% url 'add_subject' as add_subject %}
          <a href="{% url "add_subject" %}" class="nav-link {% if request.path == add_subject %} active {% endif %}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Add Subject
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>
        <li class="nav-item">
        {% url 'manage_subject' as manage_subject %}
        {% url 'edit_subject' subject_id=id as edit_subject %}
          <a href="{% url "manage_subject" %}" class="nav-link {% if request.path == manage_subject %} active {% endif %}  {% if request.path == edit_subject %} active {% endif %}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Manage Subject
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="viewattendancereport"  class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              View Attendance Report
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="student_feedback"  class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Student FeedBack
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/staff_feedback"  class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Staff FeedBack
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/student_leave" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Student Leave
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/staff_leave" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Staff Leave
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="pages/gallery.html" class="nav-link">
            <i class="nav-icon far fa-image"></i>
            <p>Gallery</p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-envelope"></i>
            <p>
              Mailbox
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/mailbox/mailbox.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Inbox</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/mailbox/compose.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Compose</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/mailbox/read-mail.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Read</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
